@using CoralSeaTaskManagment.Ui.Models.DTO
@model AssignationAddDto
@{
    ViewBag.PageTitle = "Create";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div className="home-container">
    <form asp-action="CreateForm" method="post">
        <div class="mp-3">
            <label asp-for="AssignId"></label>
            <select asp-for="AssignId" class="form-control"
                    asp-items=@(new SelectList(ViewBag.assignlist,"Id","Name"))>
                <option disabled selected>-- SelectSection -- </option>
            </select>
        </div>
        <div class="mp-3">
            <label asp-for="TechName"></label>
            <input asp-for="TechName" class="form-control" />
            <span asp-validation-for="TechName" class="text-danger"></span>
        </div>        
        <div class="mp-3">
            <label asp-for="OrderId"></label>
            <input asp-for="OrderId" class="form-control" />
            <span asp-validation-for="OrderId" class="text-danger"></span>
        </div>        
        <div class="mp-3">
            <label asp-for="HotelId"></label>
            <input asp-for="HotelId" class="form-control" />
            <span asp-validation-for="HotelId" class="text-danger"></span>
        </div>
        <div class="mp-3">
            <button type="submit" class="btn btn-primary">Create</button>
            <a onclick="window.history.back();" class="btn btn-warning">Back</a>
        </div>
    </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}