@using CoralSeaTaskManagment.Ui.Models.DTO
@model GroomDto

@{
    ViewBag.PageTitle = "Rooms Management";
    ViewBag.CardTitle = "Rooms";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div className="home-container">
    <form asp-action="Edit" method="post">
        <input hidden asp-for="Id" />
        <input hidden asp-for="HotelId" />

        <div class="mp-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>        
        <div class="mp-3">
            <label asp-for="Building"></label>
            <input asp-for="Building" class="form-control" />
            <span asp-validation-for="Building" class="text-danger"></span>
        </div>
        <div class="mp-3">
            <button type="submit" class="btn btn-primary">Edit</button>
            <a asp-action="Index" asp-controller="Grooms" class="btn btn-warning">Back</a>
        </div>
    </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
