@using CoralSeaTaskManagment.Ui.Models.DTO
@model IEnumerable<OtypeDto>

@{
    ViewBag.PageTitle = "Assign Management";
    ViewBag.CardTitle = "Assign";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<br />
<a class="btn btn-inverse-primary btn-fw" href="/Otype/Create">Create</a>
<table class="table table-hover" width="100%">
    <tr>
        <td>Section Name</td>
        <td>Hotel</td>
        <td>Flag</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Hotels.Name</td>
            <td>@item.Fronthousflag</td>
            <td>
                <a class="btn btn-outline-warning btn-fw" href="/Otype/Edit/@item.Id">Edit</a>
                <a class="btn btn-outline-danger btn-fw" href="/Otype/Delete/@item.Id">Delete</a>
            </td>
        </tr>
    }
</table>